
        body {
            background-color: #f8f9fa;
            font-family: Arial, sans-serif;
        }

        h1 {
            color: #343a40; 
            margin-bottom: 40px;
        }

        .card {
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
            transition: transform 0.2s;
        }

        .card:hover {
            transform: translateY(-5px);
        }
       
        .card-title {
            color: green; 
        }

        .card-text {
            color: #6c757d; 
        }

        .button {
            background-color:green;
            border: none;
        }
       

        .close-modal {
            cursor: pointer;
            color: #aaa;
            float: right;
            font-size: 1.5rem;
            line-height: 1;
            margin-left: 5px;
        }

        .close-modal:hover {
            color: black;
        }
        .card img {
            height: 250px;
        }
        .modalimg{
            width: 100px;
        }

        .hover{
            color: #fff;
        }
        
        .hover:hover{
            color: green;
            background: #fff;
        }
        
        .navbar-nav a:hover {
            border-bottom: 2px solid green;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            padding: 10px;
        
        }
        .test{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }